.git
.gitignore
.vscode
.idea
*.code-workspace

node_modules
**/node_modules

frontend/.next
frontend/out
frontend/.vercel

backend/dist
backend/coverage

.env
.env.local
.env.*
!.env.example
**/.env
**/.env.local
**/.env.*
!**/.env.example

docker-compose*.yml
nginx
temp
*.log